<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>pluginStructureVersion</key>
	      <integer>2</integer>
        <key>deviceStatusRefreshInterval</key>
        <integer>6</integer>
        <key>pluginFetchPropStatusMode</key>
	      <integer>0</integer><!-- 0 polling, 1 subscribe, 2 not get-->
<!--	<key>customSceneTriggerIds</key>
	<array>
		<string>250</string>
	</array>
        <key>customSceneActionIds</key>
	<array>
		<string>250</string>
	</array> -->
</dict>
</plist>
